.FSoft_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.FSoft_cont>h1 {
    margin: 2% auto 0 auto;
    padding: 0 0 0 10%;
    width: 50%;
    font-size: 2.8rem;
    font-family: Lufga Medium;
    letter-spacing: -0.01em;
    line-height: 1.08em;
    font-weight: 500;
}

.part {
    margin: 2% auto 1% auto;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;

}


.info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info_cut {
    margin-bottom: 4%;
    width: 90%;
}

.info_cut>p {
    font-size: 1.26rem;
    letter-spacing: 0.12em;
    margin-top: 0%;
    font-family: Lufga Regular;
    font-weight: 600;
    margin-bottom: 1.5%;
}

.info_cut>h1 {
    margin: 1% auto ;
    margin-bottom: 3%;
    font-size: 2.4rem;
    /* line-height: 1.14em; */
    font-family: Lufga Medium;
    font-weight: normal;
}

.points_div {
    /* margin-top: 2%; */
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 0;
}

.points_div>p {
    margin: 1.8% auto;
    width: 85%;
    font-size: 1rem;
    font-family: Lufga Regular;
    letter-spacing: 0.09em;
}

.icon_FSoft {
    font-size: 1.4rem;
}


.image_div {
    width: 50%;
    height: auto;
}

.image_div img{
    width: 98%;
    height: auto;
    border-radius: 15px;
}

#part2_u_cont{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;

}

.image_div2 {
    width: 50%;
    border: 1px solid rgba(70, 70, 70, 0.289);
    height: auto;
    display: flex;
    border-radius: 30px;
    justify-content: center;
}

.image_div2 img{
    width: 63%;
    height: auto;
    border-radius: 10px;
}

#part2_cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: top;
}


#part2{
    width: 65%;
}
#part2 .points_div{
    width: 100%;
    justify-content: space-between;
}

#part2 .points_div p{
    width: 92%;
    margin: 2% 0;

}